{% extends "Admin/base.twig" %}

{% block title %}Product Insert{% endblock %}


{% block body %}
<!--Content Editor-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">افزودن محصول</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" id="myTabs">
                    <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab"> اطلاعات انگلیسی</a></li>
                    <li role="presentation"><a href="#fa_data" aria-controls="fa_data" role="tab" data-toggle="tab">اطلاعات فارسی</a></li>
                    {#<li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">گالری تصاویر</a></li>#}
                </ul>
            </div>
            <div class="panel-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active"  id="data" >
                        <br>
                        <form action="/admin/product/store" class="form-horizontal" method="post"
                              enctype="multipart/form-data">
                            <input type="hidden" class="form-control" name="id" value="">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">نام انگلیسی محصول: </label>
                                <div class="col-sm-4">
                                    <input dir="ltr" type="text" class="form-control" name="title" placeholder="name"
                                           value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> برند محصول: </label>
                                <div class="col-sm-4">
                                    <select dir="ltr" name="brand_id" id="" class="form-control">
                                        {% for brand in brands %}
                                            <option value="{{brand.id}}" {% if brand.id == product.brand_id %}selected{% endif %} >{{brand.title}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="ln-solid"></div>
                            <div class="col-lg-10 col-lg-offset-1">
                                <h4>توضیحات
                                    <small>(این توضیحات در قسمت توضیحات ابتدایی در صفحه محصول نمایش داده می شود)</small>
                                </h4>
                                <div class="form-group">
                                <textarea dir="ltr" class="description" name="description"
                                          placeholder="Description..."></textarea>
                                </div>
                            </div>
                            <div class="col-lg-10 col-lg-offset-1">
                                <h4>متن توضیحات
                                    <small>(این متن در قسمت توضیحات کلی و ویژگی ها در صفحه محصول نمایش داده می شود)</small>
                                </h4>
                                <div class="form-group">
                                <textarea class="description" name="content"
                                          placeholder="Description..."></textarea>
                                </div>
                            </div>
                            <div class="ln-solid"></div>
                            <div class="form-group ">
                                <label for="exampleInputFile" class="col-sm-offset-1">کاتالوگ انگلیسی PDF</label>
                                <input type="file" id="exampleInputFile" class="col-sm-offset-1" name="catalog">
                            </div>
                            <div class="ln-solid"></div>
                            <div class="form-group">
                                <label for="exampleInputFile" class="col-sm-offset-1">کاور محصول</label>
                                <input type="file" id="exampleInputFile" class="col-sm-offset-1" name="cover">
                            </div>

                            <div class="form-group ">
                                <!--<label class="col-sm-2 control-label">افزودن لوگو: </label>-->
                                <!--<div class="col-sm-6">-->
                                <!--<input type="file" name="brand_logo" class="form-control">-->
                                <!--</div>-->

                                <!--<div class="image-gallery">-->
                                <!--<div class="col-sm-3">-->
                                <!--<div class="image">-->
                                <!--<img src="" alt="">-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <button class="btn btn-primary col-sm-offset-1" type="submit">افزودن محصول</button>
                                <button class="btn btn-danger" type="submit" onclick="history.go(-1);">انصراف</button>
                            </div>

                            {#</form>#}
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="fa_data">
                        <br>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">نام فارسی محصول: </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fa_title" placeholder="نام"
                                       value="">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> برند محصول: </label>
                            <div class="col-sm-4">
                                <select name="brand_id" id="" class="form-control">
                                    {% for brand in brands %}
                                        <option value="{{brand.id}}" {% if brand.id == product.brand_id %}selected{% endif %} >{{brand.fa_title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="ln-solid"></div>
                        <div class="col-lg-10 col-lg-offset-1">
                            <h4>توضیحات
                                <small>(این توضیحات در قسمت توضیحات ابتدایی در صفحه محصول نمایش داده می شود)</small>
                            </h4>
                            <div class="form-group">
                                <textarea class="description" name="fa_description"
                                          placeholder="Description..."></textarea>
                            </div>
                        </div>
                        <div class="col-lg-10 col-lg-offset-1">
                            <h4>متن توضیحات
                                <small>(این متن در قسمت توضیحات کلی و ویژگی ها در صفحه محصول نمایش داده می شود)</small>
                            </h4>
                            <div class="form-group">
                                <textarea class="description" name="fa_content"
                                          placeholder="Description..."></textarea>
                            </div>
                        </div>
                        <div class="ln-solid"></div>
                        <div class="form-group">
                            <label for="exampleInputFile">کاتالوگ فارسی PDF</label>
                            <input type="file" id="exampleInputFile" name="fa_catalog">
                        </div>
                        <div class="ln-solid"></div>
                        <div class="form-group">
                            <label for="exampleInputFile">کاور محصول</label>
                            <input type="file" id="exampleInputFile" name="cover">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">افزودن محصول</button>
                            <button class="btn btn-danger" type="submit" onclick="history.go(-1);">انصراف</button>
                        </div>

                    </div>
                    {#<div role="tabpanel" class="tab-pane fade" id="gallery">#}
                        {#<br>#}
                        {#<form action="/admin/brand/store" class="form-horizontal" method="post"#}
                              {#enctype="multipart/form-data">#}
                            {#<input type="hidden" class="form-control" name="entity_type" value="">#}
                            {#<input type="hidden" class="form-control" name="entity_id" value="">#}
                            {#<input type="hidden" class="form-control" name="entity_position" value="">#}
                            {#<div class="form-group">#}
                                {#<label class="col-sm-2 control-label">افزودن تصاویر اسلایدشو: </label>#}
                                {#<div class="col-sm-6">#}
                                    {#<input type="file" class="form-control" name="media">#}
                                {#</div>#}
                                {#<div class="col-sm-3">#}
                                    {#<button type="submit" class="btn btn-success">بارگذاری تصاویر</button>#}
                                {#</div>#}
                            {#</div>#}
                            {#<!--<div class="ln-solid clearfix"></div>-->#}


                        {#</form>#}

                    {#</div>#}
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}

    <script>

        $(function(){
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');

            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
        });

    </script>

    <script>
        $(function(){
            var url = window.location.href;
            var activeTab = url.substring(url.indexOf("#") + 1);
//            $(".tab-pane").removeClass("active in");
            $("#" + activeTab).addClass("active in");
            $('a[href="#'+ activeTab +'"]').tab('show')
        });
    </script>

{% endblock %}
