<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link href="/css/summernote.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">نوین نیرو</a>

        </div>

        <!-- /.navbar-top-links -->
        <ul class="nav navbar-top-links navbar-left">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" href="{{ url('') }}" target="_blank">مشاهده سایت</a>
                <!-- /.dropdown-user -->
            </li>
            <li class="dropdown">
                <a href="/admin/logout"><i class="fa fa-sign-out fa-fw"></i> خروج</a>
                <!-- /.dropdown-user -->
            </li>

            <!-- /.dropdown -->
        </ul>

        <!-- /.navbar-static-side -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a class="" href="{{url('admin')}}/dashboard"><i class="fa fa-dashboard fa-fw" aria-hidden="true" ></i> داشبورد</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-product-hunt fa-fw"></i>مدیریت محصول<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{url('admin/product/list')}}">لیست محصولات</a>
                            </li>
                            <li>
                                <a href="{{url('admin/product/insert')}}">افزودن محصول</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-first-order fa-fw"></i>مدیریت برند<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{url('admin/brand/list')}}">لیست برندها</a>
                            </li>
                            <li>
                                <a href="{{url('admin/brand/insert')}}">افزودن برند</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-first-order fa-fw"></i>مدیریت مشتریان<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{url('admin/customer/insert')}}">لیست / افزودن مشتریان</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-first-order fa-fw"></i>تنظیمات صفحه اول<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{url('admin/home/slideshow/list')}}">مدیریت اسلایدشو</a>
                            </li>
                            <li>
                                <a href="{{url('admin/element/list')}}">مدیریت المان ها</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-first-order fa-fw"></i>مدیریت منو<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{url('admin/menu/list')}}">لیست منو ها</a>
                            </li>
                            <li>
                                <a href="{{url('admin/menu/insert')}}">افزودن منو</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-first-order fa-fw"></i>مدیریت ارتباط با ما<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{url('admin/contact/edit')}}">اطلاعات دفاتر</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
    </nav>

    <div id="page-wrapper">

{% block body %}


{% endblock %}

    </div>
</div>


<!--{{ include('_templates/footer.html') }}-->


<script src="/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/js/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/js/raphael/raphael.min.js"></script>
<script src="/js/morris/morris.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/sb-admin-2.js"></script>
<script src="/js/summernote.js"></script>
<script src="/js/summernote-ext-rtl.js"></script>
<script src="/js/bootstrap-confirmation.min.js"></script>
<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
        title: 'آیا مطمئن هستید؟',
        btnOkLabel: 'بله',
        btnCancelLabel: 'خیر',
        popout: true
        // other options
    });
</script>

<script>
    // ajax delete media for admin slide show in all part EX: product, brand , ....
    $(document).on('submit', '.media-form', function (e) {
        e.preventDefault();
        var elm = $(this); // این یعنی همان سلکتور فورم
        var action = $(this).attr('action');
        var form_data = $(this).serialize();
        $.ajax({
            type: "POST",
            url: action,
            data: form_data,
//                dataType: 'json',
            success: function (dataString) {
                $(elm).closest('.image-wrapper').fadeOut();
                console.log('oops');
            },
//                error: function (request, status, error) {
//                    alert(request.responseText);
//                }
        });
    });
</script>
{% block script %}



{% endblock %}
</body>
