<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport"-->
    <!--content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <!--<meta name="viewport" content="user-scalable = no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/images/tab-logo.png">
    <link rel="stylesheet" href="/bootstrap-new/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/css/bootstrap-rtl.min.css">-->
    <link rel="stylesheet" href="/css/intro.css?v=5.3">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/aos.css">

    <meta name="google-site-verification" content="UMFONaJ2oKTola0NJkSuTzpjBNLzymKYFfBvpdxn4ZQ"/>
    <title>Welcome to novinniroo</title>
</head>
<body>

<div class="introo">
    <div class="language">
        {#<div class="btn-group">#}
            {#<a type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">#}
                {#<i class="fa fa-globe" style="color: white"></i> <span class="language-name"></span> <span class="caret"#}
                                                                                                           {#style="color: white"></span>#}

            {#</a>#}
            {#<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">#}
                {#<li><a href="{{ url('lng/en') }}">English</a></li>#}
                {#<li><a href="{{ url('lng/fa') }}">فارسی</a></li>#}
            {#</ul>#}
        {#</div>#}
        <div class="btn-group">
            <button type="button" class="btn btn-secondary bg-transparent dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-globe" style="color: white"></i> <span class="language-name"></span> <span class="caret"
                                                                                                           style="color: white">

                </span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url('lng/en') }}">English</a>
                <a class="dropdown-item" href="{{ url('lng/fa') }}">فارسی</a>
            </div>
        </div>
    </div><!--language-->
    <div class="layer"></div>

    <div class="container">
        <div class="content">
            <div class="logo">
                <a href="lng/en"><img src="/images/Logo-Header.png" class="img-responsive"></a>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="dropdown text-center" >
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            General Trading
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="http://www.novinniroo.co/page/review/general-trading">Construction
                                Material</a>
                            <a class="dropdown-item" href="http://www.novinniroo.co/page/review/food-industry">Food
                                Products</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="dropdown text-center">
                        <a href="http://www.novinniroo.co/page/review/business-consulting" class="btn btn-secondary "
                           aria-haspopup="true" aria-expanded="true">
                            Consulting
                        </a>
                        {#<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">#}
                        {#<li><a href="#">Business Development</a></li>#}
                        {#<li><a href="#">Business Handling</a></li>#}
                        {#<li><a href="#">Services</a></li>#}
                        {#</ul>#}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="dropdown text-center">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Engineering
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="http://www.novinniroo.co/brand/16/review">Kutlusan</a>
                            <a class="dropdown-item" href="http://www.novinniroo.co/brand/14/review">Yemmak</a>
                            <a class="dropdown-item" href="http://www.novinniroo.co/brand/19/review">Italian Pack</a>
                            <a class="dropdown-item" href="http://www.novinniroo.co/brand/20/review">CoopBilanciai</a>
                        </div>
                    </div>
                </div>
                {#<div class="col-sm">#}
                    {#<div class="dropdown text-center">#}
                        {#<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"#}
                                {#data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#Real Estate#}
                        {#</button>#}
                        {#<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">#}
                            {#<a class="dropdown-item" href="http://www.novinniroo.co/brand/16/review">Property Consulting</a>#}
                            {#<a class="dropdown-item" href="http://www.novinniroo.co/brand/14/review">Villas - Flats</a>#}
                            {#<a class="dropdown-item" href="http://www.novinniroo.co/brand/19/review">Rent & Buy</a>#}
                            {#<a class="dropdown-item" href="http://www.novinniroo.co/brand/20/review">Oman & Turkey</a>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                <div class="col-sm">
                    <div class="dropdown text-center">
                        <a href="http://www.novinniroo.co/page/review/real-estate" class="btn btn-secondary "
                           aria-haspopup="true" aria-expanded="true">
                            Real Estate
                        </a>
                        {#<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">#}
                        {#<li><a href="#">Business Development</a></li>#}
                        {#<li><a href="#">Business Handling</a></li>#}
                        {#<li><a href="#">Services</a></li>#}
                        {#</ul>#}
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="text-center slogan hidden-xs hidden-sm">Smart and capable in Trade, Import and Export</div>
</div>


<script src="/bootstrap-new/jquery-3.3.1.slim.min.js"></script>
<script src="/bootstrap-new/js/bootstrap.popper.min.js"></script>
<script src="/bootstrap-new/js/bootstrap.min.js"></script>


<!--<script language="javascript">-->
<!--function autoResizeDiv()-->
<!--{-->
<!--document.getElementById('main').style.height = window.innerHeight +'0';-->
<!--}-->
<!--window.onresize = autoResizeDiv;-->
<!--autoResizeDiv();-->
<!--</script>-->

<script>
    $(document).ready(function () {

        if (window.location.href.indexOf('#admin') != -1) {
            $('#admin').modal('show');
        }


    });
</script>

<script>
    $( "button" ).click(function () {
    $(this).closest( ".dropdown" ).toggleClass('mb-5');
    })

</script>


<script>
    $(document).ready(function () {
        $('html').css('height', $(window).height());
        // Comma, not colon ----^
    });
    $(window).resize(function () {
        $('html').css('height', $(window).height());

        // Comma, not colon ----^
    });

    $(document).ready(function () {
        $('body').css('height', $(window).height());
        // Comma, not colon ----^
    });
    $(window).resize(function () {
        $('body').css('height', $(window).height());
        // Comma, not colon ----^
    });
</script>

</body>
</html>

