{% extends "Admin/base.twig" %}

{% block title %}Contaact Insert{% endblock %}


{% block body %}
<!--Content Editor-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">افزودن محصول</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="tab">
                    <button class="tablinks active" onclick="openLanguage(event, 'data')">اطلاعات انگلیسی</button>
                    <button class="tablinks " onclick="openLanguage(event, 'fa_data')">اطلاعات فارسی</button>
                    <button class="tablinks" onclick="openLanguage(event, 'gallery')">گالری تصاویر</button>
                </div>
            </div>
            <div class="panel-body">



                <div id="gallery" class="tabcontent">

                    <form action="/admin/brand/store" class="form-horizontal" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" class="form-control" name="entity_type" value="">
                        <input type="hidden" class="form-control" name="entity_id" value="">
                        <input type="hidden" class="form-control" name="entity_position" value="">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">افزودن تصاویر اسلایدشو: </label>
                            <div class="col-sm-6">
                                <input type="file" class="form-control" name="media">
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-success">بارگذاری تصاویر</button>
                            </div>
                        </div>
                        <!--<div class="ln-solid clearfix"></div>-->


                    </form>

                    <!--<div class="ln-solid clearfix"></div>-->

                    <!--<div class="image-gallery">-->
                        <!--<div class="col-sm-3">-->
                            <!--<div class="image">-->
                                <!--<img src="" alt="">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('.description').summernote({

            toolbar: [
                ['style', ['style']],
                ['fontSizes', ['fontsize']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontNames', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['picture', 'hr']],
                ['insert',['ltr','rtl']],
                ['table', ['table']]
            ],

            height: 200,
            fontNames: ['myraidpro', 'persian-sols', 'irsans', 'Arial'],
            fontSizes: ['8', '9', '10pt', '11', '12', '14', '18', '24', '36', '48' , '64', '82', '150'],
//            placeholder: 'write here...',
        });
    });
</script>

<script>
    function openLanguage(evt, language) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(language).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>


{% endblock %}
