{% extends "Admin/base.html" %}

{% block title %}Brand List{% endblock %}


{% block body %}

<div class="row">
    <div class="col-sm-12">
        <div class="page-header pull-left">
            <a href="{{url('admin/brand/insert')}}" class="btn btn-success"><i class="fa fa-edit fa-lg"></i> ثبت برند جدید</a>
        </div>
        <!--<form action="" class="form-horizontal" method="get">-->
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">نام برند: </label>-->
                <!--<div class="col-sm-6">-->
                    <!--<input type="text" class="form-control" placeholder="نام">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-sm-offset-2 col-sm-10">-->
                    <!--<a href="" class="btn btn-success">جستجوی برند</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
        <!--<h1 class="page-header">لیست برندها</h1>-->
    </div>


    <!-- /.panel -->
    <div class="col-sm-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="text-center" >
                <div class="panel-heading " style="background-color: #94C9EE;">لیست برندها</div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>عنوان</th>
                            <th><i class="fa fa-cog"></i> تنظیمات</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if brands|length > 0 %}
                        {% for brand in brands %}
                        <tr>
                            <td>{{ brand.id }}</td>
                            <td>{{ brand.title }}</td>
                            <td>
                                <a href="{{ url('admin/brand/edit') }}/{{ brand.id }}" class="btn btn-primary">ویرایش</a>
                                <a href="{{ url('admin/brand/delete') }}/{{ brand.id }}" class="btn btn-danger" data-toggle="confirmation">حذف</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        !oops not found
                        {% endif %}

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}


