{% extends "Admin/base.twig" %}

{% block title %}Brand Insert{% endblock %}


{% block body %}
<!--Content Editor-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">افزودن برند</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                {#<div class="tab">#}
                    {#<button class="tablinks  active" onclick="openLanguage(event, 'data')">اطلاعات انگلیسی</button>#}
                    {#<button class="tablinks" onclick="openLanguage(event, 'fa_data')">اطلاعات فارسی</button>#}
                    {#<button class="tablinks" onclick="openLanguage(event, 'gallery')">گالری تصاویر</button>#}
                {#</div>#}

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">اطلاعات انگلیسی</a></li>
                    <li role="presentation"><a href="#fa_data" aria-controls="fa_data" role="tab" data-toggle="tab">اطلاعات فارسی</a></li>
                    {#<li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">گالری تصاویر</a></li>#}
                </ul>

            </div>
            <div class="panel-body">



                <!-- Tab panes -->
                <div class="tab-content">

                    <div role="tabpanel" id="data" class="tab-pane active">
                        <form action="/admin/brand/store" class="form-horizontal" method="post"
                              enctype="multipart/form-data">
                            <input type="hidden" class="form-control" name="id" value="">
                            <br>
                            <div class="form-group">
                                <label class="col-sm-2 control-label col-lg-offset-0">نام انگلیسی برند: </label>
                                <div class="col-sm-4">
                                    <input dir="ltr" type="text" class="form-control" name="title" placeholder="name"
                                           value="">
                                </div>
                            </div>
                            <br>
                            <div class="col-lg-10 col-lg-offset-1">
                                <h4>توضیحات
                                    <small>(این توضیحات در قسمت توضیحات ابتدایی در صفحه برند نمایش داده می شود)</small>
                                </h4>
                                <div class="form-group">
                                <textarea class="description" name="description"
                                          placeholder="Description..."></textarea>
                                </div>
                            </div>
                            <div class="col-lg-10 col-lg-offset-1">
                                <h4>متن پروژه ها
                                    <small>(این متن در قسمت توضیحات نمایندگی ها در صفحه برند نمایش داده می شود)</small>
                                </h4>
                                <div class="form-group">
                                <textarea class="description" name="branch_text"
                                          placeholder="Description..."></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">افزودن لوگو: </label>
                                <div class="col-sm-6">
                                    <input type="file" name="brand_logo" class="form-control">
                                </div>

                                <!--<div class="image-gallery">-->
                                <!--<div class="col-sm-3">-->
                                <!--<div class="image">-->
                                <!--<img src="" alt="">-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                            </div>
                            <br>
                            <div class="col-lg-offset-1">
                                <button class="btn btn-primary" type="submit">افزودن برند</button>
                                <button class="btn btn-danger" type="submit" onclick="history.go(-1);">انصراف</button>
                            </div>
                            {#</form>#}
                    </div>

                    <div role="tabpanel" id="fa_data" class="tab-pane fade">
                        {#<form action="/admin/brand/store" class="form-horizontal" method="post"#}
                        {#enctype="multipart/form-data">#}
                        {#<input type="hidden" class="form-control" name="id" value="">#}
                        <br>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-lg-offset-1">نام فارسی برند: </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="fa_title" placeholder="نام"
                                       value="">
                            </div>
                        </div>
                        <br>
                        <br>
                        {#<div class="ln-solid"></div>#}
                        <div class="col-lg-10 col-lg-offset-1">
                            <h4>توضیحات
                                <small>(این توضیحات در قسمت توضیحات ابتدایی در صفحه برند نمایش داده می شود)</small>
                            </h4>
                            <div class="form-group">
                                <textarea class="description" name="fa_description"
                                          placeholder="Description..."></textarea>
                            </div>
                        </div>
                        <div class="col-lg-10 col-lg-offset-1">
                            <h4>متن پروژه ها
                                <small>(این متن در قسمت توضیحات نمایندگی ها در صفحه برند نمایش داده می شود)</small>
                            </h4>
                            <div class="form-group">
                                <textarea class="description" name="fa_branch_text"
                                          placeholder="Description..."></textarea>
                            </div>
                        </div>
                        {#<div class="form-group">#}
                        {#<label class="col-sm-2 control-label">افزودن لوگو: </label>#}
                        {#<div class="col-sm-6">#}
                        {#<input type="file" name="brand_logo" class="form-control">#}
                        {#</div>#}

                        {#<!--<div class="image-gallery">-->#}
                        {#<!--<div class="col-sm-3">-->#}
                        {#<!--<div class="image">-->#}
                        {#<!--<img src="" alt="">-->#}
                        {#<!--</div>-->#}
                        {#<!--</div>-->#}
                        {#<!--</div>-->#}
                        {#</div>#}
                        <div class="ln-solid"></div>
                        <div class="col-lg-offset-1">
                            <button class="btn btn-primary" type="submit">افزودن برند</button>
                            <button class="btn btn-danger" type="submit" onclick="history.go(-1);">انصراف</button>
                        </div>
                        </form>
                    </div>

                    {#<div role="tabpanel" id="gallery" class="tab-pane fade">#}

                        {#<br>#}
                        {#<form action="/admin/brand/store" class="form-horizontal" method="post"#}
                              {#enctype="multipart/form-data">#}
                            {#<input type="hidden" class="form-control" name="entity_type" value="">#}
                            {#<input type="hidden" class="form-control" name="entity_id" value="">#}
                            {#<input type="hidden" class="form-control" name="entity_position" value="">#}
                            {#<div class="form-group">#}
                                {#<label class="col-sm-2 control-label">افزودن تصاویر اسلایدشو: </label>#}
                                {#<div class="col-sm-6">#}
                                    {#<input type="file" class="form-control" name="media">#}
                                {#</div>#}
                                {#<div class="col-sm-3">#}
                                    {#<button type="submit" class="btn btn-success">بارگذاری تصاویر</button>#}
                                {#</div>#}
                            {#</div>#}
                        {#</form>#}

                        {#<div class="ln-solid clearfix"></div>#}

                        {#<div class="image-gallery">#}
                            {#<!--{% if medias|length > 0 %}-->#}
                            {#<!--{% for media in medias %}-->#}
                            {#<div class="col-sm-3">#}
                                {#<div class="image">#}
                                    {#<img src="" alt="">#}
                                {#</div>#}
                            {#</div>#}
                            {#<!--{% endfor %}-->#}
                            {#<!--{% else %}-->#}
                            {#<!--!oops not found-->#}
                            {#<!--{% endif %}-->#}
                        {#</div>#}
                    {#</div>#}

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}

<script>
    function openLanguage(evt, language) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(language).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

    <script>

        $(function(){
            var hash = window.location.hash;
//            alert(window.location.hash);
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');

            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
        });

    </script>

{% endblock %}
